.file-view {
  padding: 1rem;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $global-margin;

    & > h4, & > a {
      margin-bottom: 0;
    }
  }
}
